[Unit]
Description=external rtc service
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/setup-rtc.sh

[Install]
WantedBy=multi-user.target
